.bg-w {
  background: #fff;
}
.c-w {
  color: #fff;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  clear: both;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.p-a {
  position: absolute;
}
.p-r {
  position: relative;
}
.c-r {
  color: red;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
textarea {
  -webkit-appearance: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#foot {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #d4d4d4;
  z-index: 1000;
}
#foot #nav1 {
  width: 100%;
  text-align: center;
  float: left;
}
#foot #nav1 a {
  width: 19.5%;
  display: inline-block;
  text-decoration: none;
}
#foot #nav2 {
  width: 10%;
  text-align: center;
  float: left;
}
#foot #nav2 a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  background-color: #29a1f9;
  height: 63px;
  line-height: 63px;
}
#foot #nav2 a dt {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../image/common/search.png);
  -moz-background-size: 25.33px 25.33px;
  background-size: 25.33px 25.33px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0.3rem;
}
#nav1 dl dd {
  font-size: 14px;
  color: #000000;
  position: relative;
  bottom: 5px;
}

#nav1 .index dt {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../image/common/nav.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#nav1 .router-link-exact-active  dt:first-child {
  width: 45px;
  height: 45px;
  background: url(../image/common/nav_01.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#nav1 .active dd {
  color: #ebbc00;
}
#nav1 .router-link-exact-active  dd {
  color: #ebbc00;
}

#nav1 .activity dt {
  display: inline-block;
  width: 43px;
  height: 43px;
  background: url(../image/common/nav2.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#nav1 .router-link-exact-active :nth-child(2) dt {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../image/common/nav_02.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#nav1 .myCenter dt {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../image/common/nav3.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
#nav1 .myCenter dt i {
  display: inline-block;
    width: 8px;
    height: 8px;
    background: #D8021C;
    border-radius:50%;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

#nav1 .router-link-exact-active:nth-child(3) dt {
  width: 45px;
  height: 45px;
  background: url(../image/common/nav_03.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#nav1 .learning dt {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../image/common/nav4.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#nav1 .router-link-exact-active:nth-child(4) dt {
  width: 45px;
  height: 45px;
  background: url(../image/common/nav_04.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
#nav1 .search dt {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../image/common/nav5.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
#nav1 .router-link-exact-active:nth-child(5) dt {
  width: 45px;
  height: 45px;
  background: url(../image/common/nav_05.png);
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
#header .swiper-slide {
  padding: 0 20px;
  width: auto;
}
#banner {
  width: 10rem;
  height: 5.625rem;
  /*margin-top: 43px;*/
  position: relative;
}
#banner .swiper-slide {
  position: relative;
  text-align: center;
}
#banner img {
  max-width: 100%;
  width: 10rem;
  height: 5.625rem;
}
#banner .pagination {
  position: absolute;
  z-index: 20;
  bottom: 21px;
  width: 66px;
  text-align: center;
  right: 40%;
  border-radius: 50%;
}
.swiper-pagination-bullet {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #CCCCCC;
  margin: 0 2px;
  opacity: 0.8;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background:#ebbc00;
}

.head {
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: #ebbc00;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align:center;
}
.head img {
    width: 8%;
    vertical-align: middle;
    /* margin-left: 0.2rem; */
    margin-top: 0.3rem;
    border-radius: 50%;
    /* float: left; */
    position: absolute;
    left: 0.1rem;
}
.head span {
  color:#ffffff;
  font-size:0.46rem;
  margin-left:0;
}
