.bg-w {
  background: #fff;
}
.c-w {
  color: #fff;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  clear: both;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.p-a {
  position: absolute;
}
.p-r {
  position: relative;
}
.c-r {
  color: red;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  font-size: 0.4rem;
  overflow-x: hidden;
  background: #F2F2F2;
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
}
button {
  outline: 0 ;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
a {
  list-style: none;
  text-decoration: none;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
#header .swiper-slide {
  padding: 0 20px;
  width: auto;
}
#banner {
  width: 10rem;
  height: 5.625rem;
  /*margin-top: 43px;*/
  position: relative;
}
#banner .swiper-slide {
  position: relative;
  text-align: center;
}
#banner img {
  max-width: 100%;
  width: 10rem;
  height: 5.625rem;
}
#banner .pagination {
  position: absolute;
  z-index: 20;
  bottom: 21px;
  width: 66px;
  text-align: center;
  right: 40%;
  border-radius: 50%;
}
.title {
  color: #000;
  font-weight: bold;
  text-align: center;
}
.head {
  height: 1.2rem;
  line-height: 1.2rem;
  background: #F2F2F2;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.head img {
  width: 7%;
  vertical-align: middle;
  margin-bottom: 0.2rem;
  position: absolute;
  left: 0.27rem;
  top: 0.27rem;
  border-radius: 50%;
}
.head span {
  display: inline-block;
  color: #333333;
  font-size: 0.42rem;
  width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 1rem;
  font-weight: bold;
}
.head .back {
  position: fixed;
  top:0.05rem;
  left:0.3rem;
  z-index: 10;
  width: 8%;
}
 .back {
  position: fixed;
  top: 0.3rem;
  left: 0.3rem;
  z-index: 10;
  width: 8%;
}
.newsMain {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.newsMain .newsHead {
  background: #fff;
  height: 1rem;
  line-height: 1rem;
  color: #A1D255;
  font-weight: bold;
}
.newsMain .newsHead img {
  vertical-align: middle;
}
.newsMain .item {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  text-decoration: none;
  background: #FFFFFF;
  margin-top: 0.26666667rem;
}
.txt {
  color: #7D7D7D;
  font-size: 0.34666667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-top: 0;
  line-height:0.7rem;
}
.txt img {
  	display: inline-block;
  	width: 10%;
  	vertical-align: middle;
    margin-right: 0.2rem;
    border-radius: 50%;
}
.txt span {
  vertical-align: middle;
}
.listTexts {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
}
.listTexts .dot {
  display: block;
  position: absolute;
  right: 21px;
  bottom: 0.6rem;
}
.listTexts h1 {
  font-size: 0.44rem;
  margin-top:0.1rem;
  margin-bottom:0.1rem;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
  color: #333333;
  font-weight: 549.99;
}
.listPics {
  margin-right: 0.21333333rem;
  width: 3.76rem;
  text-align: center;
}
.listPics img {
  width: 100%;
  max-height: 100%;
  height: 2.82rem;
  vertical-align: top;
  margin-top: 0.1rem;
  border-radius: 0.2rem;
}
.textList {
  border-top: 1px solid #ddd;
  position: relative;
  margin-top: 0.1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}
.textList:last-child {
  border-bottom: 1px solid #ddd;
}
.textList h2 {
  font-weight: 400;
  font-size: 0.17rem;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.textList .text {
  color: #999999;
  font-size: 0.13rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.date {
  font-size: 0.34666667rem;
  color: #7D7D7D;
}
.header {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}
.header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}
.content {
  margin: 0 auto;
  margin-top: -0.25rem;
  margin-bottom: 2rem;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.content .item h3 {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  max-height: 40px;
  overflow: hidden;
  line-height: 20px;
  margin: 0 10px;
  font-size: 1.2rem;
}
.content .item .date {
  display: block;
  color: #999999;
}
