.bg-w {
  background: #fff;
}
.c-w {
  color: #fff;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  clear: both;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.p-a {
  position: absolute;
}
.p-r {
  position: relative;
}
.c-r {
  color: red;
}
.main {
  margin: 0 auto;
  text-align: center;
  margin-top: 0.23rem;
  position: relative;
  margin-bottom: 3rem;
}
.logo {
  width: 2.453rem;
  height: 2.453rem;
  line-height: 2.453rem;
  border: 6px solid #F1F1F1;
  margin: 0 auto;
}
.main h3 {
  color: #98A862;
  font-size: 0.18rem;
  margin-top: 0.346rem;
  margin-bottom: 0.346rem;
}
.logo p {
  width: 2.186rem;
  height: 2.186rem;
  background-image: url(../image/Rectangle%202.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}
.weixin {
  width: 3.15rem;
  height: 3.15rem;
  background-image: url(../image/qrcode_shjcyll_1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}
.foot {
  width: 100%;
  height: 6.35rem;
  background-image: url(../image/Bitmap.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="text"],
input[type="number"],
input[type="checkbox"] {
  -webkit-appearance: none;
}
textarea {
  -webkit-appearance: none;
}
body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 0.4rem;
  background: #F2F2F2;
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
}
button {
  outline: 0 ;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
a {
  list-style: none;
  text-decoration: none;
}
#header .swiper-slide {
  padding: 0 20px;
  width: auto;
}
#banner {
  width: 10rem;
  height: 5.625rem;
  /*margin-top: 43px;*/
  position: relative;
}
#banner .swiper-slide {
  position: relative;
  text-align: center;
}
#banner img {
  max-width: 100%;
  width: 10rem;
  height: 5.625rem;
}
#banner .pagination {
  position: absolute;
  z-index: 20;
  bottom: 21px;
  width: 66px;
  text-align: center;
  right: 40%;
}
/***********页脚***********/
body {
  font-size: 0.4rem;
  padding-bottom: 2rem;
}
#signfoot {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #d4d4d4;
  z-index: 1000;
  height: 1.7rem;
  line-height: 1.7rem;
}
#signfoot a {
  width: 50%;
  display: inline-block;
  text-decoration: none;
}
#signfoot dl dd {
  font-size: 14px;
  color: #000000;
}
#signfoot .index img {
  width: 24%;
  margin-top: -0.29rem;
  margin-left: -0.5rem;
  vertical-align: middle;
}
#signfoot .index span {
  width: 10%;
  color: #B4B4B4;
  top: 0;
  font-size: 14px;
  margin-left: 0.2rem;
}
#signfoot .active dd {
  color: #fff;
}
#signfoot .activity {
  height: 61px;
  z-index: 1000;
  background: #FF0000;
}
#signfoot .activity span {
  color: #fff;
  top: 0;
  font-size: 14px;
  margin-left: 0.2rem;
  left: 66%;
  z-index: 1001;
}
#signfoot .myCenter dt {
  display: inline-block;
  width: 41px;
  height: 44px;
  background: url(../image/index/nav3.png);
  -moz-background-size: 20.5px 22px;
  background-size: 20.5px 22px;
  background-repeat: no-repeat;
  background-position: center;
}
#signfoot .active:nth-child(3) dt {
  width: 41px;
  height: 44px;
  background: url(../image/index/nav_03.jpg);
  -moz-background-size: 20.5px 22px;
  background-size: 20.5px 22px;
  background-repeat: no-repeat;
  background-position: center;
}
.signUpHead {
  width: 13.61rem;
  height: 5rem;
  background: url(../image/activity/signUp.jpg);
  -moz-background-size: 352.5px 250.5px;
  background-size: 9.5rem 5.5rem;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-position: top;
  background-attachment: fixed;
}
.signUpHead .actName {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.signUpHead .actName span {
  display: inline-block;
  margin-left: 4.43rem;
  font-size: 0.4rem;
  font-weight: bold;
}
.signUpHead .actName h1 {
  margin-left: 4.6rem;
  margin-top: 0.3rem;
  color: #DD001C;
  font-size: 0.5rem;
}
#form {
  color: #A7A7A7;
}
#form label {
  color: #232323;
}
#form .signUp {
  width: 94%;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 0.2rem;
  margin-top: 0.2rem;
}
#form .signUp li {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 0.35rem;
  position: relative;
}
#form .signUp li textarea {
  margin-top: 0.2rem;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
#form .signUp .jifen {
  margin-top: 0.2rem;
}
#form .signUp .explainTxt {
  padding-bottom: 1rem;
}
#form .mobilephone {
  margin-bottom: 0.35rem;
}
#form .actName,
#form .nickName,
#form .user_name,
#form .mobilephone {
  border-bottom: 1px solid #ECECEC;
  padding-top: 0.35rem;
}
#form .actName input,
#form .nickName input,
#form .user_name input,
#form .mobilephone input {
  padding-top: 0.1rem;
  border: 1px solid #ddd;
}
#form .actName :focus,
#form .nickName :focus,
#form .user_name :focus,
#form .mobilephone :focus {
  outline: -webkit-focus-ring-color auto 0;
}
#form .jifen,
#form .postscript,
#form .explain,
#form .explainTxt {
  color: #232323;
}
#form .jifen span {
  color: #DD001C;
}
#form #actName1,
#form #nickName,
#form #user_name,
#form #mobilephone {
  float: right;
}
#form #btn {
  text-align: center;
  margin-bottom: 15px;
}
#form .cancel,
#form .confirmation {
  border: 0;
  color: #fff;
  width: 40%;
  height: 42px;
  line-height: 42px;
  border-radius: 10px;
  outline: none;
  background: #DD001C;
  margin: 0 10px;
}
#form input {
  margin-left: 0.1rem;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #CDCCD1;
}
:-moz-placeholder {
  color: #CDCCD1;
}
::-moz-placeholder {
  color: #CDCCD1;
}
:-ms-input-placeholder {
  color: #CDCCD1;
}
input[placeholder] {
  color: #232323 !important;
}
.model {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}
.model .modelBox {
  width: 80%;
  height: 60%;
  background: #fff;
  top: 20%;
  left: 10%;
  bottom: 0;
  position: fixed;
  border-radius: 30px;
  text-align: center;
}
.model .modelBox .modelTxt {
  text-align: center;
  position: relative;
}
.model .modelBox .modelTxt .close {
  padding-top: 0.5rem;
  position: absolute;
  right: 0.2rem;
  width: 0.8rem;
}
.model .modelBox .modelTxt .right {
  display: inline-block;
  width: 2rem;
  padding-top: 1.2rem;
}
.model .modelBox .modelTxt h1 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 0.5rem;
  color: #6B6768;
}
.model .modelBox .modelTxt p {
  line-height: 0.7rem;
  color: #BDBDBD;
  font-size: 0.4rem;
}
.model .modelBox .modelTxt .btn1 {
  margin-top: 0.5rem;
}
.model .modelBox .modelTxt .btn1 button {
  width: 3rem;
  height: 1.1rem;
  line-height: 1.1rem;
  border-radius: 0.2rem;
  border: 0;
  background: #DD001C;
  color: #fff;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
#foot {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #d4d4d4;
  z-index: 1000;
}
